.grid-container .item-3 {
  padding: 1.875rem 0px 1.25rem 1.875rem;

  color: #ffffff;
  background-color: #48D1CC;

  grid-column: span 1;
  grid-row: span 1;
}

.item-3 {
  line-height: 0.75;
}

.item-3 .title {
  font-size: 1rem;
}

.item-3 .texts {
  padding-top: 0.0625rem;
}