.grid-container .item-3 {
  padding: 30px 0px 20px 30px;

  color: #ffffff;
  background-color: #48D1CC;
}

.item-3 {
  line-height: 0.75;
}

.item-3 .title {
  font-size: 16px;
}

.item-3 .texts {
  padding-top: 1px;
}

.item-3 .text {
  
}